name: Deploy

on:
  workflow_dispatch:
    inputs:
      ver:
        description: 'Version'
        required: true
        default: '1.0.0'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploy version ${{ github.event.inputs.ver }}"
