name: Test Dispatch

on:
  workflow_dispatch:
    inputs:
      test_input:
        description: 'Test input'
        required: true
        default: 'test'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Test"
